/*
==============
CSS for -
Muhammad Adam Firdaus 2016
==============
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, section {
	display: block;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
}

body {
	font-family:"arial";
}

img {
	display:block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
	height:100%;
	position:relative;
}

footer {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}

/*.preload {
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(0,0,0,0.8);
}

/* mulai dari bawah ini */

.container {
  width:1200px;
  margin:0 auto;
}

.container p {
  margin:10px 0;
}

.foto img {
  width:600px;
  margin:5% auto;
}

.slide-gallery {
	display: none;
}

/* begin popup */

.popup {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity: 0;
	display: table;
	transition: opacity 2s ease-in;
}

.popup:before {
	content:'';
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	position: absolute;
	top:0;
	left:0;
}

.popup-wrapper {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

.popup-content {
	width:400px; /* atur sesuai kebutuhan */
	margin:0 auto;
	position: relative;
	z-index:9;
}

.close-popup {
	position: absolute;
	right:-12px;
	top:-12px;
	display: block;
	border-radius:50%;
	width:32px;
	height:32px;
	line-height: 32px;
	text-align: center;
	background:#555;
	color:#fff;
	z-index: 10;
	cursor: pointer;
}

.popup-content p {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.popup-content-top {
	background:#e53935;
	clear:both;
	min-height:200px;
}

.popup-content-bottom {
	background:#555;
	clear:both;
	min-height:100px;
}

.popup-top-left {
	float:left;
	width:40%;
	padding:2%;
}

.popup-top-right {
	float:right;
	width:60%;
}

.popup-top-left,
.popup-top-right {
	box-sizing: border-box;
	display: table;
	min-height: 200px;
}

.popup-content-top img,
.popup-content-top p {
	display: table-cell;
	vertical-align: middle;
}

.popup-content-top p {
	margin:0;
	color:#fff;
	padding:5% 10px;
}

.popup-content-top img {
	padding: 5%;
	box-shadow: 5px 5px 25px #ccc;
}

.popup-content-bottom p {
	color:#fff;
	text-align:center;
	padding:10px 0;
}

.popup-footer {
	display: table;
	padding: 10px 0;
	width:100%;
	position: absolute;
	bottom:0;
}

.popup-footer a {
	display: table-cell;
	vertical-align: middle;
	width:30%;
	float:left;
}

/* end popup */
